In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../csv_files/raw/1ropani.csv')
# Remove the , and convert the price to an integer.
df['price'] = df['price'].apply(lambda x: int(x.replace(',','')))

In [4]:
df

,title,price,area,location,district,floor,room,bedroom,bathroom,livingroom,kitchen,parking,link
0,"2.5 Storied House on Sale at Kathmandu-14, kal...",29000000,3 anna 3 paisa,Kathmandu,Kathmandu,Two And Half Floors,NaN,9 Bed Room,4 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8585
1,"2.5 Storied House on Sale at Tarkeshwor-5, Lol...",9500000,3 anna 1 daam,"Kathmandu, Tarkeshwor",Kathmandu,Two And Half Floors,NaN,7 Bed Room,3 Bath Room,1 Living Room,2 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=8582
2,3.5 Storied House on Sale at Jayabahageshwori-...,38500000,4 anna,"Kathmandu, Dakshinamurti Marg,jayabahageshwori...",Kathmandu,3.5 Floors,NaN,5 Bed Room,4 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8578
3,"Residential House on Sale at OM Marg,Bikash Ch...",13000000,11 dhur,"Chitwan, Bharatpur, bikash chowk",Chitwan,1 and Half Floors,NaN,3 Bed Room,3 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8575
4,"3 Storied House on Sale at Baluwakhani, Nikhil...",30000000,4 anna,"Kathmandu, Budhanilkantha, Baluwakhani100 mete...",Kathmandu,Three Floors,NaN,5 Bed Room,4 Bath Room,3 Living Room,2 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=8573
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,"Residential House on Sale at Bafal,500 m from ...",40000000,9 anna,Kathmandu500 m from Soaltee main Gate,Kathmandu500 m from Soaltee main Gate,4 Floors,NaN,5 Bed Room,3 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=6238
433,Residential House with Land on Sale at Sukedha...,25000000,4 anna 1 paisa,"Kathmandu, New Colony500 m from Sukedhara Chowk",Kathmandu,4 Floors,NaN,6 Bed Room,5 Bath Room,3 Living Room,2 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=6235
434,Modern Beautiful Bungalow For Sale At Bhainsepati,23000000,5 anna,"Lalitpur, Karyabinayak, Sainbu",Lalitpur,3 Floors,NaN,5 Bed Room,5 Bath Room,1 Living Room,2 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=6218
435,"Residential Bungalow on Sale at Bhainsepati, 5...",33000000,4 anna 1 paisa,"Lalitpur, Sainbu Bhainsepati, Mahila Samuha Ma...",Lalitpur,3 Floors,NaN,4 Bed Room,5 Bath Room,1 Living Room,1 Kitchen,1,http://www.1ropani.com/HouseDetail.aspx?ID=6210
436,"House on Sale at Devghat, nearby Harihar Ashram",4100000,7 anna,"Tanahun, Devghat, Devghatdhamnearby Harihar As...",Tanahun,3 Floors,NaN,3 Bed Room,2 Bath Room,1 Living Room,1 Kitchen,0,http://www.1ropani.com/HouseDetail.aspx?ID=6197

In [5]:

df['floor'].unique()

array(['Two And Half Floors', '3.5 Floors', '1 and Half Floors',
       'Three Floors', 'Two Floors', '2 Floors', '2.5 Floors', '4 Floors',
       '1.5 Floors', '3 Floors', '5 Floors', '1 Floors',
       'Three And Half Floors', 'Three and Half Floors', 'Four Floors',
       'One Floors', 'Five Floors', 'Two and half Floors',
       'One And Half Floors', '2.75 Floors', 'One and Half Floors',
       'Four And Half Floors', 'Two and Half Floors',
       'To and Half Floors', 'Three and half Floors',
       'Four and Half Floors'], dtype=object)

In [6]:

def clean_floor(x):
    x = x.lower()
    cleaned_floor = 0  # initialize cleaned floor value as zero
    # first getting the values after the decimal point
    if x == 'to and half floors': # cleaning a rare case wherre x.75 floor
        return 2.5
    if '.' in x:
        # y contains points after the decimal
        y = int(x.split(' ')[0].split('.')[1])
        if y == 75:
            cleaned_floor = 0
            return cleaned_floor
    
        cleaned_floor = cleaned_floor + (y / 10)
        z = int(x.split(' ')[0].split('.')[0])
        cleaned_floor = cleaned_floor + z
        return cleaned_floor
    if 'half' in x:
        cleaned_floor = cleaned_floor + 0.5
    if 'one' in x or '1' in x:
        cleaned_floor = cleaned_floor + 1
        
    if 'two'in x or '2' in x:
        cleaned_floor = cleaned_floor + 2
    if 'three'in x or '3' in x:
        cleaned_floor = cleaned_floor + 3
    if 'four'in x or '4' in x:
        cleaned_floor = cleaned_floor + 4
        
    if 'five'in x or '5' in x or 'fifth' in x:
        cleaned_floor = cleaned_floor + 5

    if 'six' in x or '6' in x:
        cleaned_floor = cleaned_floor + 6

    if 'seven'in x or '7' in x:
        cleaned_floor = cleaned_floor + 7

    if 'eight' in x or '8' in x:
        cleaned_floor = cleaned_floor + 8
    return cleaned_floor
  
    
df['floor'] = df['floor'].apply(clean_floor)

In [17]:
# removing houses with zero floors
df = df[df['floor'] > 0 ]

In [16]:
df['floor'].unique()

array([2.5, 3.5, 1.5, 3. , 2. , 4. , 5. , 1. , 4.5])

In [7]:

# Cleaning bedroom
df['bedroom'] = df['bedroom'].apply(lambda x: int(x.split(' ')[0]))

In [8]:
# cleaning bathroom
df['bathroom'] = df['bathroom'].apply(lambda x: int(x.split(' ')[0]))

In [9]:
# Cleaning living room
df['livingroom'] = df['livingroom'].apply(lambda x: int(x.split(' ')[0]))

In [10]:
# cleaning kitchen
df['kitchen'] = df['kitchen'].apply(lambda x: int(x.split(' ')[0]))

In [11]:
df

,title,price,area,location,district,floor,room,bedroom,bathroom,livingroom,kitchen,parking,link
0,"2.5 Storied House on Sale at Kathmandu-14, kal...",29000000,3 anna 3 paisa,Kathmandu,Kathmandu,2.5,NaN,9,4,1,1,1,http://www.1ropani.com/HouseDetail.aspx?ID=8585
1,"2.5 Storied House on Sale at Tarkeshwor-5, Lol...",9500000,3 anna 1 daam,"Kathmandu, Tarkeshwor",Kathmandu,2.5,NaN,7,3,1,2,0,http://www.1ropani.com/HouseDetail.aspx?ID=8582
2,3.5 Storied House on Sale at Jayabahageshwori-...,38500000,4 anna,"Kathmandu, Dakshinamurti Marg,jayabahageshwori...",Kathmandu,3.5,NaN,5,4,1,1,1,http://www.1ropani.com/HouseDetail.aspx?ID=8578
3,"Residential House on Sale at OM Marg,Bikash Ch...",13000000,11 dhur,"Chitwan, Bharatpur, bikash chowk",Chitwan,1.5,NaN,3,3,1,1,1,http://www.1ropani.com/HouseDetail.aspx?ID=8575
4,"3 Storied House on Sale at Baluwakhani, Nikhil...",30000000,4 anna,"Kathmandu, Budhanilkantha, Baluwakhani100 mete...",Kathmandu,3.0,NaN,5,4,3,2,1,http://www.1ropani.com/HouseDetail.aspx?ID=8573
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,"Residential House on Sale at Bafal,500 m from ...",40000000,9 anna,Kathmandu500 m from Soaltee main Gate,Kathmandu500 m from Soaltee main Gate,4.0,NaN,5,3,1,1,1,http://www.1ropani.com/HouseDetail.aspx?ID=6238
433,Residential House with Land on Sale at Sukedha...,25000000,4 anna 1 paisa,"Kathmandu, New Colony500 m from Sukedhara Chowk",Kathmandu,4.0,NaN,6,5,3,2,1,http://www.1ropani.com/HouseDetail.aspx?ID=6235
434,Modern Beautiful Bungalow For Sale At Bhainsepati,23000000,5 anna,"Lalitpur, Karyabinayak, Sainbu",Lalitpur,3.0,NaN,5,5,1,2,0,http://www.1ropani.com/HouseDetail.aspx?ID=6218
435,"Residential Bungalow on Sale at Bhainsepati, 5...",33000000,4 anna 1 paisa,"Lalitpur, Sainbu Bhainsepati, Mahila Samuha Ma...",Lalitpur,3.0,NaN,4,5,1,1,1,http://www.1ropani.com/HouseDetail.aspx?ID=6210
436,"House on Sale at Devghat, nearby Harihar Ashram",4100000,7 anna,"Tanahun, Devghat, Devghatdhamnearby Harihar As...",Tanahun,3.0,NaN,3,2,1,1,0,http://www.1ropani.com/HouseDetail.aspx?ID=6197

In [12]:
filtered = df[df['bedroom'] + df['livingroom'] + df['kitchen'] < 30]
x =  filtered['bedroom'] + filtered['livingroom'] + filtered['kitchen']
y = filtered['price']
x.corr(y)

0.1592033928063152